<div class="col-md-12 col-lg-12 col-sm-12" style="padding-left: 0px">
  <br/>
  <div *ngFor="let rspDetail of rspDetailList; let i= index" class="form-group">
    <span>Group members -
      <b *ngFor="let member of rspDetail.studentUsrnmsList; let j = index">
          {{ j===0 ? member : member + ','}}
      </b>
    </span>
    <div>
      <span> <b style="color: green">Question:</b> {{rspDetail.rspRecord.questionText}} </span>
    </div>
    <br>
    <div *ngFor="let rsp of rspDetail.rspRecord.list">
      <span><b>{{rsp.rspText}}</b> ( {{rsp.voteCount}} )</span>
    </div>
    <hr>
  </div>
  </div>
