<h2>Request's number: {{rqCount + 1}}</h2>
<hr>
<div class="col-md-10 col-sm-10 col-lg-10" style="padding-left: 0px">
  <h3>Questions</h3>
  <br/>
  <div *ngFor="let rqQuestionRecord of selectedRqRecord.questions;let questionIndex = index" >
    <div style="border:1px solid black; border-radius: 5px;">
      <div class="form-group float-label-control col-md-11 col-sm-11 col-lg-11">
        <h4>{{questionIndex +1}}.Question</h4>
          <input 
                type="text"
                class="form-control"        
                title="question's text"  
                [(ngModel)]="rqQuestionRecord.question.questionText" 
                name="questionsText" 
                min="10"
                />
      </div>
      <div *ngIf="selectedRqRecord.rq.rqTp === 'CHOICE'" >
        <div *ngFor="let answer of rqQuestionRecord.questionAnswerList; let questionsAnswerIndex = index">
                <div  class="form-group float-label-control col-md-11 col-sm-11 col-lg-11">
                <div class="[ form-group ]">
                        <input type="checkbox" 
                        name="fancy-checkbox-success" 
                        id="{{'fancy-checkbox-success-' + questionIndex + 'num' + questionsAnswerIndex}}" 
                        autocomplete="off" 
                        title="is the answer correct" 
                        [checked]= "answer.correct" 
                        (change) ="answer.correct = !answer.correct" />
                        <div class="[ btn-group ]">
                            <label for="{{'fancy-checkbox-success-' + questionIndex + 'num' + questionsAnswerIndex}}"  [ngClass]=
                              "!answer.correct ? ' btn btn-danger ' :' btn btn-success '">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span> </span>
                            </label>
                            <label for="{{'fancy-checkbox-success-' + questionIndex + 'num' + questionsAnswerIndex}}"  
                                  class="[ btn btn-default active ]">
                                {{questionsAnswerIndex +1}}.Answer (correct)
                            </label>
                        </div>
                    </div>
                  <div class="row">       
                    <div class="col-md-11 col-lg-11 col-sm-11">
                    <input 
                        type="text"
                        class="form-control" 
                        placeholder="Computer science"
                        title="maximum number of admitted responses"  
                        [(ngModel)]="answer.answerText" 
                        name="maxRsp" 
                        min="1"
                        />
                      </div>  
                      <div class="col-md-1 col-sm-1 col-lg-1">
                          <button class="btn btn-danger btn-sm" (click)="onDeleteAnswer(questionIndex, questionsAnswerIndex)">
                              <i class="fa fa-times"></i>
                          </button>
                      </div>
                    </div>
                </div>
          </div>
          <div class="form-group float-label-control" style="padding-left: 15px">
          <button class="btn btn-primary btn-md" (click)="onAddAnswerForExistingQuestion(questionIndex)">
              <i class="fa fa-plus"></i> <span>Add answer</span>
          </button>
        </div>
      </div>
      <br/>
      <div class="form-group float-label-control" style="padding-left: 15px">
            <button
              class="btn btn-danger btn-md" (click)="onDeleteQuestion(questionIndex)">
            <i class="fa fa-trash"></i> <span>Delete question</span>
          </button>
      </div>
    </div>
    <br/>
  </div>
    <button id="save-btn"
      class="btn btn-success btn-md" (click)="onSaveChanges()">
      <i class="fa fa-save"></i> <span> Save changes</span>
    </button>
  <hr>
  <h2> Add new question </h2>
  <br/>
  <form role="form">
      <div class="form-group float-label-control">
        <label><span>Question</span></label>
           <input 
                type="text"
                class="form-control" 
                placeholder="What's the name of this course"       
                title="time allowed for an answer"  
                [(ngModel)]="questionRecord.question.questionText" 
                name="allowedTm" 
                min="10"
                />
      </div>
  <div *ngIf="rqTp === 'CHOICE'" >
    <div *ngFor="let newQuestionAnswer of questionRecord.questionAnswerList; let newQuestionAnswerIndex = index">
        <div  class="form-group float-label-control">
          <label><span>Answer</span></label> 
            <input 
                type="text"
                class="form-control"    
                title="question's answer"  
                [(ngModel)]="newQuestionAnswer.answerText" 
                placeholder="{{newQuestionAnswer.answerText === undefined ? 'Computer science' : newQuestionAnswer.answerText}}"
                name="maxRsp" 
                min="1"
                />
        </div>
         <div class="[ form-group ]">
                <input type="checkbox" 
                name="fancy-checkbox-success" 
                id="{{'newAnswerCorrect' + newQuestionAnswerIndex}}" 
                autocomplete="off" 
                title="is the answer correct" 
                [checked]= "newQuestionAnswer.correct" 
                (change) ="newQuestionAnswer.correct = !newQuestionAnswer.correct" />
                <div class="[ btn-group ]">
                    <label for="{{'newAnswerCorrect' + newQuestionAnswerIndex}}"  class=" btn btn-success">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="{{'newAnswerCorrect' + newQuestionAnswerIndex}}"  
                          class="[ btn btn-default active ]" >
                        Correct
                    </label>
                </div>
            </div>
      </div>
      <button class="btn btn-primary btn-md" (click)="onAddAnswer()">
          <i class="fa fa-plus"></i> <span>Add answer</span>
      </button>
  </div>
    <br/>
      <button id="save-btn"
        class="btn btn-success btn-md" (click)="onAddQuestion()">
        <i class="fa fa-cloud"></i> <span>Save question</span>
      </button>
    </form>
  </div>
 