<div class="container">
	<form role="form">
		<div class="form-group float-label-control">
			<label><span>Username*</span></label> <input type="text"
				class="form-control" placeholder="andradaradu" title="username" name="username" [(ngModel)]="usrToAdd.usrnm"
				/>
		</div>
		<div class="form-group float-label-control">
			<label><span>Email*</span></label> <input type="email"
				class="form-control" placeholder="andradaradu@mail.com"
				title="email"  [(ngModel)]="usrToAdd.email" name="email" />
    </div>
		<div class="form-group float-label-control">
			<label><span>First name</span></label> <input type="text"
				class="form-control" placeholder="andrada" title="first name" name="firstname" [(ngModel)]="usrToAdd.fnm"  />
		</div>

		<div class="form-group float-label-control">
			<label><span>Last name</span></label> <input type="text"
				class="form-control" placeholder="radu" title="last name" name="lastname" [(ngModel)]="usrToAdd.lnm"  />
    </div>
		<div class="form-group float-label-control">
		<label><span>User type</span></label>
			<form>
				<input type="radio" value="PROFFESSOR" name="proffessor" title="proffessor" [(ngModel)]="usrToAdd.usrTp" name="typeProffessor"/> PROFFESSOR <br />
				<input type="radio" value="STUDENT" name="student" title="student" [(ngModel)]="usrToAdd.usrTp" name="typeStudent" />
        STUDENT <br />
			</form>
		</div>
		<div class="form-group float-label-control">
			<label><span>Password*</span></label> <input type="password"
				class="form-control" placeholder="password" title="password" name="password" [(ngModel)]="usrToAdd.psswd" />
		</div>
		<button id="save-btn"
			class="btn btn-success btn-md" (click)="addUsr()">
			<i class="fa fa-save"></i> <span>Save</span>
		</button>
		<a (click)="goBack()" class="btn btn-info btn-md pull-right"> <i
			class="fa fa-undo"></i> <span>Cancel</span></a>
	</form>
</div>
