<div *ngIf="course !== null">
	<form (ngSubmit)="updateCourse()">
		<div class="form-group float-label-control">
			<label><span>Course name*</span></label> <input type="text"
				class="form-control" placeholder="Introduction in computer science" title="course name" name="name" [(ngModel)]="course.nm"
        disabled
        />
		</div>
		<div class="form-group float-label-control">
			<label><span>Description</span></label> <input type="text"
				class="form-control" placeholder="basics of computer science "
				title="course descrpition"  [(ngModel)]="course.dsc" name="description" />
    </div>
		<button id="save-btn"
			class="btn btn-success btn-md" type="submit">
			<i class="fa fa-save"></i> <span>Save</span>
		</button>
	</form>
</div>
