<nav *ngIf="authService.isAuthenticated()" class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" [routerLink]="'/grouping'">Grouping app</a>
      </div>
  
  <div class="navbar-default" >
      <ul class="nav navbar-nav"  >
          <li><a  [routerLink]="'/login'" routerLinkActive="active" >Login</a></li>
          <li><a [routerLink]="'/users'" routerLinkActive="active" >Users</a></li>
          <li><a [routerLink]="['/courses', getUsrLoggedInUsrnm()]" routerLinkActive="active" >My Courses</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown>
              <a style="cursor: pointer" class="dropdown-toggle" role= "button">Manage<span class="caret"></span></a>
              <ul class="dropdown-menu">
              <li><a style="cursor: pointer">Save Data</a></li>
              <li><a style="cursor: pointer">Fetch Data</a></li>
          </ul>
          </li>
      </ul>
  </div>
</div>
</nav>