<div class="col-md-6 col-sm-6 col-lg-6" style="padding-left: 0px"> 
  <form role="form">
    <div class="form-group float-label-control">
        <div>
          <label><span>Time mesurement type</span></label> 
        </div>
        <div class="form-group">
          <select [(ngModel)]="rq.timeMeasurementTp" name="timeMeasurementTp"  class="form-control">
            <option *ngFor="let item of timeMeasurementTp| enumToArray" [ngValue]="item">{{timeMeasurementTp[item]}}</option>
          </select>
        </div>
    </div>
    <div class="form-group float-label-control">
      <label><span>Time allowed (in seconds)</span></label>
         <input 
              type="number"
              class="form-control" 
              placeholder="1000"       
              title="time allowed for an answer"  
              [(ngModel)]="rq.allowedTm" 
              name="allowedTm" 
              min="10"
              />
    </div>

    <div class="form-group float-label-control">
      <label><span>Maximum number of reponses</span></label> 
        <input 
            type="number"
            class="form-control" 
            placeholder="10"
            title="maximum number of admitted responses"  
            [(ngModel)]="rq.maxRsp" 
            name="maxRsp" 
            min="1"
            />
    </div>

    <div class="form-group float-label-control">
      <div>
      <label><span>Request type</span></label> 
      </div>
      <div class="form-group">
        <select [(ngModel)]="rq.rqTp" name="rqTp" class="form-control">
          <option *ngFor="let item of rqTp| enumToArray" [ngValue]="item">{{rqTp[item]}}</option>
        </select>
      </div>
    </div>

    <div class="form-group float-label-control">
        <label><span>Goup size</span></label> 
          <input 
              type="number"
              class="form-control" 
              placeholder="10"
              title="size of the group"  
              [(ngModel)]="rq.rqGrouppSz"  
              name="groupSz" 
              min="1"
              />
      </div>

      <div class="form-group float-label-control">
        <div>
          <label><span>Group students</span></label> 
        </div>
        <div class="form-group">
          <select [(ngModel)]="historyOrNew" name="groupp-new-history"  class="form-control">
            <option [ngValue]="'new'">New groups</option>
            <option [ngValue]="'history'">Use groups from previus requests</option>
          </select>
        </div>
    </div>



      <div *ngIf="historyOrNew === 'new'" class="form-group float-label-control">
          <div>
            <label><span>Group students</span></label> 
          </div>
          <div class="form-group">
            <select [(ngModel)]="rq.rqGrouppTp" name="rqGouppTp"  class="form-control">
              <option *ngFor="let item of rqGrouppTp| enumToArray" [ngValue]="item">{{rqGrouppTp[item]}}</option>
            </select>
          </div>
      </div>


      <div *ngIf="historyOrNew === 'history'" class="form-group float-label-control">
        <div>
          <label><span>Use group from date</span></label> 
        </div>
        <div class="form-group">
          <select [(ngModel)]="selectedRqGroupp" name="rqGouppHistory"  class="form-control">
            <option *ngFor="let item of historyList.list" [ngValue]="item">{{item.crtTm }}</option>
          </select>
        </div>
    </div>

    <button id="save-btn"
      class="btn btn-success btn-md" (click)="addRq()">
      <i class="fa fa-save"></i> <span>Save</span>
    </button>
  </form>
</div>