<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th><span>Username</span></th>
				<th><span>Email</span></th>
				<th><span>First Name</span></th>
				<th><span>Last Name</span></th>
				<th><span>Type</span></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let usr of usrs">
				<td><span>{{usr.usrnm}}</span></td>
				<td><span>{{usr.email}}</span></td>
				<td><span>{{usr.fnm}}</span></td>
				<td><span>{{usr.lnm}}</span></td>
				<td><span>{{usr.usrTp}}</span></td>
			</tr>
		</tbody>
	</table>


</div>
<div></div>