<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
    <button class="btn btn-success pull-left" (click)="addCourse()" ><i class="fa fa-plus"></i> <span>Add new course</span> </button>
    <br/>
    <br/>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><span>Course name</span></th>
          <th><span>Students count</span></th>
          <th><span>Description</span></th>
          <th><span>Start date</span></th>
          <th><span>End date</span></th>
          <th><span>Lessons</span></th>
          <th><span>Edit</span></th>
          <th><span>View groups</span></th>
          <th><span>Add groups</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courseRecord of courses">
          <td><span>{{courseRecord.course.nm}}</span></td>
          <td><span>{{courseRecord.course.studentsCount}}</span></td>
          <td><span>{{courseRecord.course.dsc}}</span></td>
          <td><span>{{courseRecord.course.stDt}}</span></td>
          <td><span>{{courseRecord.course.endDt}}</span></td>
          <td><button class="btn btn-info" (click)="editLessons(courseRecord)"><i class="fa fa-edit"></i> <span>Lessons</span></button></td>
          <td><button class="btn btn-warning" (click)="editCourse(courseRecord.course.nm)"> <i class="fa fa-edit"></i> <span>Edit</span></button></td>
          <td><button class="btn btn-primary" (click)="viewGroups(courseRecord.course.nm)"><i class="fa fa-search"></i> <span>View groups</span></button></td>
          <td><button class="btn btn-success" (click)="addGroups(courseRecord.course.nm)"><i class="fa fa-plus"></i> <span>Add groups</span></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-7 col-sm-7 col-lg-7">
    <router-outlet></router-outlet>
  </div>
</div>
  