<div class="col-md-12 col-lg-12 col-sm-12" style="padding-left: 0px">
    <br/>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><span>#</span></th>
          <th><span>Size</span></th>
          <th><span>Leader</span></th>
          <th><span>Mandate period (weeks)</span></th>
          <th><span>Group type</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of groups; let i= index">
          <td><span>{{i}}</span></td>
          <td><span>{{group.size}}</span></td>
          <td><span>{{group.leaderUsrnm}}</span></td>
          <td><span>{{group.mandate}}</span></td>
          <td><span>{{group.grouppTp !== undefined && group.grouppTp !== null  ? grouppTp[group.grouppTp] : grouppTp['SEM_PROJ']}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>