<h4> Course : {{courseNm}} </h4>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><span>Lesson's theme</span></th>
      <th><span>Week</span></th>
      <th><span>View Requests</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lesson of lessons">
      <td><span>{{lesson.theme}}</span></td>
      <td><span>{{lesson.weekNb}}</span></td>
      <td><button class="btn btn-success" (click)="onViewRqList(lesson.id)"><i class="fa fa-search"></i><span>View</span></button></td>
    </tr>
  </tbody>
</table>
