<app-header></app-header>
<div class="container">      
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>
<footer>
    <div style="margin-left:45%;width:150px;max-width:150px;">
        <img class="img-responsive" src="../assets/UTCN.png">
    </div>
</footer>

