<div>
  <h2> Course : {{courseNm}} </h2> 
  <h2> Week: {{weekNb}} </h2>
  <hr>
  <button class="btn btn-success pull-left" (click)="onAddRq()" ><i class="fa fa-plus"></i><span> Add Request </span></button>
  <br/> 
  <br/>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><span>#</span></th>
        <th><span>Allowed time (in seconds)</span></th>
        <th><span>Number of responses admitted</span></th>
        <th><span>Type of questions</span></th>
        <th><span>Time mesurement type</span></th>
        <th><span>Status</span></th>
        <th><span>Group size</span></th>
        <th><span>Group method</span></th>
        <th><span>Questions</span></th>
        <th><span>Launch</span></th>
        <th><span>Delete</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rqRecord of rqRecordList; let idx = index">
        <td><span>{{idx + 1}}</span></td>
        <td><span>{{rqRecord.rq.allowedTm}}</span></td>
        <td><span>{{rqRecord.rq.maxRsp}}</span></td>
        <td><span>{{rqRecord.rq.rqTp}}</span></td>
        <td><span>{{rqRecord.rq.timeMeasurementTp}}</span></td>
        <td><span>{{rqRecord.rq.rqStatus}}</span></td>
        <td><span>{{rqRecord.rq.rqGrouppSz}}</span></td>
        <td><span>{{rqRecord.rq.rqGrouppTp}}</span></td>
        <td><button class="btn btn-primary" (click)="onClickQuestions(rqRecord, idx)"> <i class="fa fa-search"></i><span>Questions</span></button></td>
        <td><button class="btn btn-info" (click)="onLaunchRq(rqRecord.rq, rqRecord.questions.length)" [disabled]="rqRecord.rq.rqStatus === 'ONGOING'">
                  <i [ngClass]="rqRecord.rq.rqStatus !== 'TERMINATED' ? 'fa fa-play' : 'fa fa-search'">
                  </i><span *ngIf="rqRecord.rq.rqStatus === 'PENDING'" >Group</span>
                      <span *ngIf="rqRecord.rq.rqStatus === 'OPENED'" >Start</span>
                      <span *ngIf="rqRecord.rq.rqStatus === 'TERMINATED'">View results</span>
                </button></td>
        <td><button class="btn btn-danger" (click)="onDeleteRq(rqRecord.rq.id)"><i class="fa fa-trash"></i><span> Delete request</span></button></td>
      </tr>
    </tbody>
  </table>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
