<div class="col-sm-6 col-md-4 col-md-offset-4">
	<h1 class="login-title">Login</h1>

	<form id="login-form" class="text-left" method="post">
		<div class="login-form-main-message"></div>
		<div class="main-login-form card card-container">
			<div class="login-group">
				<div class="form-group">
					<label for="lg_username" class="sr-only">Username</label> <input
						type="text" class="form-control" id="lg_username" name="username"
						#usrnm autofocus="true" placeholder="username" />
				</div>
				<div class="form-group">
					<label for="lg_password" class="sr-only">Password</label> <input
						type="password" #psswd class="form-control"
						id="lg_password" name="password" placeholder="password" />
				</div>
				<button (click)="login(usrnm.value,psswd.value); usrnm.value='';psswd.value='';" class="btn btn-lg btn-primary btn-block">
					<span> Sign in</span>
				</button>
				<p>
					new user? <a [routerLink]="['/register']">create new account</a>
				</p>
			</div>
		</div>
	</form>
</div>