<div class="col-sm-6 col-md-6 col-lg-6 form-group" style="padding-left:0px">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 form-group">
            <div>
              <label for="name">Groupp size</label>
            </div>
            <div>
              <input 
                type="number" 
                class="form-control" 
                id="size" 
                ngModel
                name="size"
                required>
            </div>
          </div>  
        </div>
        <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 form-group">
          <div>
            <label for="mandate">Mandate</label>
          </div>
          <div>
            <input 
              type="number" 
              id ="mandate" 
              class ="form-control" 
              ngModel
              name="mandate"
              required/>
          </div>
        </div>
      </div>
      <div class="row" style="padding-left: 0px">
          <div class="col-md-12 col-lg-12 col-sm-12">
              <label for="dropdown">Grouping type</label>
            </div>
          <div class="col-xs-12 col-md-12 col-lg-12">
            <div appDropdown class="btn-group">
              <button  class="btn btn-default dropdown-toggle" type="button">{{grouppTp[selectedTp]}} <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li *ngFor="let item of grouppTp | enumToArray" value="item" >
                  <a  style="cursor: pointer" (click)="onSelectTp(item)">{{grouppTp[item]}}</a></li>
              </ul>
          </div>
          </div>
      </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-12 col-xs-12 col-lg-12">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Group students</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </form>
</div>
